<!-- Modal -->
<div class="modal fade" id="myOrderModal" tabindex="-1" role="dialog" aria-labelledby="myOrderModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myOrderModalLabel">#springMessage('order.order')#springMessage('view.lable.detail')</h4>
			</div>
			<div class="modal-body"> 
				<table class="table table-striped table-bordered table-condensed table-hover">
					<tbody>
						<tr>
							<th class="center" style='width:25%;'>#springMessage('order.order.id')</th><td id="r_id" style='width:25%;'></td>
							<th class="center" style='width:25%;'>#springMessage('order.order.orderId')</th><td id="r_orderId" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>#springMessage('order.order.orderType')</th><td id="r_orderType" style='width:25%;'></td>
							<th class="center" style='width:25%;'>#springMessage('order.order.orderTypeName')</th><td id="r_orderTypeName" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>#springMessage('order.order.createUser')</th><td id="r_createUser" style='width:25%;'></td>
							<th class="center" style='width:25%;'>#springMessage('order.order.createTime')</th><td id="r_createTime" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>#springMessage('order.order.updateUser')</th><td id="r_updateUser" style='width:25%;'></td>
							<th class="center" style='width:25%;'>#springMessage('order.order.updateTime')</th><td id="r_updateTime" style='width:25%;'></td>
						</tr>
						<tr>
							<th class="center" style='width:25%;'>#springMessage('order.order.yn')</th><td id="r_yn" style='width:25%;'></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script language="javascript">         	
    function toDetail(parameterId){
		$("#tab_online_tbody").html("");
		$("#tab_config_tbody").html("");
		$("#tab_log_tbody").html("");
    	jQuery.ajax({
    		type: "GET",
    		url: basePath + "/order/detail",
    		dataType : 'json',
    		data: "id=" + parameterId,
    		
    		success: function(data){
    			if(data!=null && data.code==200 && data.result!=null){
    				var r = data.result;
    				$("#r_id").text(r.id==null?"":r.id);
    				$("#r_orderId").text(r.orderId==null?"":r.orderId);
    				$("#r_orderType").text(r.orderType==null?"":r.orderType);
    				$("#r_orderTypeName").text(r.orderTypeName==null?"":r.orderTypeName);
    				$("#r_createUser").text(r.createUser==null?"":r.createUser);
    				$("#r_createTime").text(r.createTime==null?"":r.createTime);
    				$("#r_updateUser").text(r.updateUser==null?"":r.updateUser);
    				$("#r_updateTime").text(r.updateTime==null?"":r.updateTime);
    				$("#r_yn").text(r.yn==null?"":r.yn);
    			} else {
    				alert("#springMessage('view.lable.detail.fail')");
    			}
    		},
    		
    		error : function(data) {
    			alert("#springMessage('view.lable.detail.error')");
    		}
    	});
		
    	$('#myOrderModal').modal('show');
    }
</script>