<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        #parse("/layout/head.vm")
		<script language="javascript"> 
			$(function() {
				$("#btn-query").click(function() {
        			pageSubmit(1);
   				});
				$("#btn-add").click(function() {
        			window.location.href=("$basePath/order/addForward");
   				});
			});
        	// Submit Search Form
        	function pageSubmit(pageNoParam) {
                $("#curPage").val(pageNoParam);
            	$("#queryForm").attr("action", "$basePath/order/queryByPage");
                $("#queryForm").attr("method", "POST");
                $("#queryForm").submit();
        	}
        	
        	function toUpdate(parameterId){
        		window.location.href=("$basePath/order/updateForward?id="+parameterId);
        	}
        	
        	function toDelete(parameterId){
        		MyPopWindow.ExecuteDelete("$basePath/order/delete",{ id : parameterId });
        	}
        	
        </script>
	</head>
    <body>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-search green"></i>#springMessage('order.order')#springMessage('view.lable.search')
                        </h5>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="1 icon-chevron-up bigger-100"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #f5f5f5;padding:5px;">
                            <form class="form-horizontal" role="form" id="queryForm">
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="orderId">#springMessage('order.order.orderId')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="orderId" id="orderId" class="col-xs-10 col-sm-8" value="$!query.orderId"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="orderType">#springMessage('order.order.orderType')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="orderType" id="orderType" class="col-xs-10 col-sm-8" value="$!query.orderType"/>
                                    </div>
									<label class="col-sm-1 control-label no-padding-right" for="orderTypeName">#springMessage('order.order.orderTypeName')</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="orderTypeName" id="orderTypeName" class="col-xs-10 col-sm-8" value="$!query.orderTypeName"/>
                                    </div>
								</div>
								<div class="form-group">
								</div>
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-4">
    									#parse("/layout/page.vm")
                                        <button class="btn btn-info btn-sm" type="button" id="btn-query"><i class="icon-search"></i>#springMessage('view.lable.search')</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>#springMessage('view.lable.reset')</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-add"><i class="icon-plus"></i>#springMessage('view.lable.add')</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-xs-12 col-sm-12 table-responsive">
                <table class="table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
							<th class="center">#springMessage('order.order.orderId')</th>
							<th class="center">#springMessage('order.order.orderType')</th>
							<th class="center">#springMessage('order.order.orderTypeName')</th>
							<th class="center">#springMessage('order.order.createUser')</th>
							<th class="center">#springMessage('order.order.createTime')</th>
    						<th class="center">#springMessage('view.lable.operate')</th>
                        </tr>
                    </thead>
                    <tbody>
                        #foreach( $item in $dataList)
                            <tr>
                                <td>$!item.orderId</td>
                                <td>$!item.orderType</td>
                                <td>$!item.orderTypeName</td>
                                <td>$!item.createUser</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss ',$!item.createTime)</td>
                                <td>
									<a href="javascript:void(0)" onclick="toDetail($!item.id);" data-toggle="modal"><i class="icon-list">#springMessage('view.lable.detail')</i></a>
									<a href="javascript:void(0)" onclick="toUpdate($!item.id)"><i class="icon-pencil pink">#springMessage('view.lable.update')</i></a>
									<a href="javascript:void(0)" onclick="toDelete($!item.id)"><i class="icon-remove red">#springMessage('view.lable.delete')</i></a>
								</td>
                            </tr>
                        #end
                    </tbody>
                </table>
				#if($!page)
					#pageBarPost($page.totalRow $page.curPage $page.totalPage)
				#end
			</div>
        </div>
		#parse("/order/detailModal.vm")
    </body>
</html>
