<!DOCTYPE html>
<html lang="zh-cn">
    <head>
		#parse("/layout/head.vm")
        <script language="javascript">
            $(function() {
				$('#updateForm').validate({
					errorElement:"em",
					errorClass:"red",
					rules: {
												orderId: {required: true},
						orderType: {required: true},
						orderTypeName: {required: true},
					},
			
					messages: {
						orderId: { required: "#springMessage('view.lable.input')#springMessage('order.order.orderId')"},
						orderType: { required: "#springMessage('view.lable.input')#springMessage('order.order.orderType')"},
						orderTypeName: { required: "#springMessage('view.lable.input')#springMessage('order.order.orderTypeName')"},
					}
				});
				
				$("#btn-back").click(function(){
					window.location.href=("$basePath/order");
				});
				$("#btn-submit").click(function(){
            		var form = $("#updateForm");
					if(form.valid()==false){
						return;
					}
					jQuery.post('$basePath/order/update',
            			form.serialize(),
            			function(data) { MyPopWindow.SubmitCompletedCallback2(data, "$basePath/order"); }
            		);
            	});
            });
        </script>
    </head>
	<body>
		<div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h5 class="lighter">
                            <i class="icon-plus green"></i>#springMessage('order.order')&nbsp;&gt;&nbsp;#springMessage('view.lable.update')
                        </h5>
                        <div class="widget-toolbar"></div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main" style="background-color: #fff;padding:5px;">
                            <form class="form-horizontal" role="form" id="updateForm">
                                <div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="orderId">#springMessage('order.order.orderId')</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="orderId" id="orderId" class="col-xs-12 col-sm-12" value="$!order.orderId" />
                                    </div>
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="orderType">#springMessage('order.order.orderType')</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="orderType" id="orderType" class="col-xs-12 col-sm-12" value="$!order.orderType" />
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-offset-1 col-sm-1 control-label no-padding-right" for="orderTypeName">#springMessage('order.order.orderTypeName')</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="orderTypeName" id="orderTypeName" class="col-xs-12 col-sm-12" value="$!order.orderTypeName" />
                                    </div>
                                </div>
								<div class="form-group">
									<input type="hidden" name="id" id="id" value="$!order.id" />
									<div class="col-sm-8 col-sm-offset-4">
                                        <button class="btn btn-info btn-sm" type="button" id="btn-back"><i class="icon-arrow-left"></i>#springMessage('view.lable.back')</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-sm" type="reset" id="btn-reset"><i class="icon-undo"></i>#springMessage('view.lable.reset')</button>
										 &nbsp; &nbsp; &nbsp;
              							<button class="btn btn-success btn-sm" type="button" id="btn-submit"><i class="icon-ok"></i>#springMessage('view.lable.submit')</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
	</body>
</html>
