<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:motan="http://api.weibo.com/schema/motan"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://api.weibo.com/schema/motan
            http://api.weibo.com/schema/motan.xsd"
       default-autowire="byName">

    <bean id="orderServiceImpl" class="com.yollock.order.service.OrderServiceImpl"/>
    <motan:service interface="com.yollock.order.service.OrderService" ref="orderServiceImpl" registry="yollock_zookeeper" export="8002"/>
    <motan:registry regProtocol="zookeeper" name="yollock_zookeeper" address="127.0.0.1:2181,127.0.0.1:2182,127.0.0.1:2183"/>

</beans>
